#history {
  max-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* .history-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 30px;
  margin-bottom: 30px;
} */

.history-images,
.history {
  width: 35%;
}

.history-images img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.history p {
  font-size: 1.5rem;
}

.history-content::after {
  content: "";
  display: table;
  clear: both;
}

.separate-banner{
  background-color: var(--white-color);
  height: 8vh;
}