@import "style.css";

#history {
  max-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.history-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 30px;
  margin-bottom: 30px;
}

.history-images,
.history-text {
  width: 35%;
}

.history-images img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.history-text p {
  font-size: 1.5rem;
}

.history-content::after {
  content: "";
  display: table;
  clear: both;
}

.banner-separation {
  background-color: var(--white-color);
  height: 8vh;
}

#team {
  max-height: 100%;
}

.team-membres {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.membre {
  width: calc(33.33% - 300px);
  text-align: center;
  flex: 0.25;
  background-color: var(--main-color);
  border-radius: 15%;
  padding: 1vh;
  /* border: 1px solid #000; */
}

.membre img {
  max-width: 70%;
  height: auto;
  border-radius: 50%;
}

.membre-intro p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.8;
}
