footer {
  margin-top: 150px;
  background-color: orange;
  /* background-color: var(--main-color); */
  padding: 10px;
  width: 100%;
}

#footer-content {
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

#copyright,
#mentions-legales {
  display: inline-block;
  margin: 0 10px;
}

#copyright p,
#mentions-legales a {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}

#copyright p:hover,
#mentions-legales a:hover {
  opacity: 0.75;
}