@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

:root {
  --main-color: #cba135;
  --secondary-color: #7fefbd;
  --white-color: #f6f6f6;
  --black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
