/* 
---------------------------------------------
Single Page Style
--------------------------------------------- 
*/
#mocktails-data {
  display: none;
}

.detail-mocktail .main-image img {
  float: none;
}

.product-details {
  display: none;
}

.product-details[hidden="false"] {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.product-details .main-content {
  text-align: center;
}

.product-details h2#product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details span#product-category {
  font-style: italic;
  color: #888;
}

.product-details p#product-detail {
  margin: 15px 0;
}

.product-details p#product-prix {
  font-weight: bold;
  font-size: 18px;
}

.product-details .main-image img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  width: auto;
  height: auto;
  float: left;
  margin-right: 20px;
}

.product-details .close-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-details .close-btn:hover {
  background-color: #ff814a;
}
