/* 
---------------------------------------------
mocktails Style
--------------------------------------------- 
*/

.mocktails .item {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

.mocktails .item img {
  border-radius: 10px;
}

.mocktails .item span.category {
  background-color: #fbd9cf;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  color: #1e1e1e;
  padding: 5px 12px;
  display: inline-block;
  margin-top: 25px;
}

.mocktails .item h4 {
  font-size: 19px;
  margin: 25px 0px;
}

.mocktails .item h4 a {
  color: #1e1e1e;
}

.mocktails .item ul li {
  display: inline-block;
  font-size: 15px;
  color: #4a4a4a;
  margin-right: 20px;
}

.mocktails .item ul li span {
  font-weight: 600;
  color: #1e1e1e;
}

.mocktails .item ul {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.mocktails .item h6 {
  font-size: 20px;
  color: var(--main-color);
  margin-top: 6px;
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.mocktails .item .main-button {
  text-align: center;
}

/* 
---------------------------------------------
mocktails Style
--------------------------------------------- 
*/

.mocktails ul.mocktails-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.mocktails ul.mocktails-filter li {
  display: inline-block;
  margin: 5px 8px;
}

.mocktails ul.mocktails-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #1e1e1e;
  padding: 12px 25px;
  border-radius: 5px;
  transition: all 0.3s;
}

.mocktails ul.mocktails-filter li a.is_active {
  background-color: var(--main-color);
  color: #fff;
}

.mocktails ul.mocktails-filter li a.is_active:hover {
  color: #fff;
}

.mocktails ul.mocktails-filter li a:hover {
  color: var(--main-color);
}

.mocktails ul.pagination {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.mocktails ul.pagination li {
  display: inline-block;
  margin: 0px 5px;
}

.mocktails ul.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  transition: all 0.3s;
}

.mocktails ul.pagination li a:hover,
.mocktails ul.pagination li a.is_active {
  background-color: var(--main-color);
  color: #fff;
}

.mocktails ul.mocktails-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.mocktails ul.mocktails-filter li {
  display: inline-block;
  margin: 5px 8px;
}

.mocktails ul.mocktails-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #1e1e1e;
  padding: 12px 25px;
  border-radius: 5px;
  transition: all 0.3s;
}

.mocktails ul.mocktails-filter li a.is_active {
  background-color: var(--main-color);
  color: #fff;
}

.mocktails ul.mocktails-filter li a.is_active:hover {
  color: #fff;
}

.mocktails ul.mocktails-filter li a:hover {
  color: var(--main-color);
}

.mocktails ul.pagination {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.mocktails ul.pagination li {
  display: inline-block;
  margin: 0px 5px;
}

.mocktails ul.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  transition: all 0.3s;
}

.mocktails ul.pagination li a:hover,
.mocktails ul.pagination li a.is_active {
  background-color: var(--main-color);
  color: #fff;
}
