/* 
---------------------------------------------
Single Page Style
--------------------------------------------- 
*/

.detail-mocktail .main-image img {
  float: none;
}

.detail-mocktail .main-content h4 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.detail-mocktail .main-content span.category {
  background-color: #fbd9cf;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  color: #1e1e1e;
  padding: 5px 12px;
  display: inline-block;
  margin-top: 40px;
}

.detail-mocktail .accordion {
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  --bs-accordion-border-radius: 10px;
  --bs-accordion-inner-border-radius: 10px;
  --bs-accordion-bg: #fafafa;
  --bs-accordion-border-color: none;
  border: none !important;
}

.detail-mocktail .accordion-header {
  border-bottom: 1px solid #eaeaea;
}

.detail-mocktail .accordion-button {
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  color: #1e1e1e;
}

.detail-mocktail .accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: #fafafa;
  outline: none;
}

.detail-mocktail .accordion-button::after {
  display: none;
}

.detail-mocktail #headingThree {
  border-bottom: none;
}

.detail-mocktail .accordion-item:last-of-type .accordion-collapse {
  border-top: 1px solid #eaeaea;
}

.detail-mocktail .info-table {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  margin-left: 60px;
}

.detail-mocktail .info-table ul li {
  display: block;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #eee;
}

.detail-mocktail .info-table ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.detail-mocktail .info-table ul li img {
  float: left;
  margin-right: 25px;
}

.detail-mocktail .info-table ul li h4 {
  font-size: 22px;
  font-weight: 600;
}

.detail-mocktail .info-table ul li h4 span {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}

div.product-details {
  
  height: 5px;
}

.product-details #product-image {
  width: auto;
  height: auto;
  float: left;
  margin-right: 20px;
}
